#vAlign {
    line-height: 150px;
    height:150px;
  text-align : center;
  margin-bottom: 15px;
}

.form-check
{
    margin-top: 5%;
    vertical-align: middle;
}

.fc-day-grid-event>.fc-content {
    white-space: pre-wrap;
    overflow: hidden;
    padding: 5px;
}
.fc-button{

    color: #fff;

    display: block;
    background: #6ABB81;
    text-align: center;
    padding: 0;

}

.fc-unthemed .fc-today {
    background: #6ABB81;

   }
// Classes
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.details_left_sidebar img {
    float: left;
    padding-right: 15px;
    margin-bottom: 25px;
    height: 100%;
    width: 100%;
}

.fitness_content {
select.btn {
    height: 50px;
    text-align: center;

}
 select { text-align-last:center;
 }
}


#dash-buttons {
    .find_btn{
       margin-left: auto;
       margin-right: auto;
       min-width: 194px; 
    }


}
.card-header a {
    color: #6ABB81;
}

#st-1 {

       direction: ltr;
    text-align: left;
  
    font: 400 16px/24px "Lato", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    line-height: 24px;
    font-family: Lato, sans-serif;
    color: #fff;
    padding-top: 30px;
    letter-spacing: .55px;

}


   
.btn-primary {
    color: #fff;
    background: #6ABB81;
    border-color: #6ABB81;
}
.btn-primary:hover {
    color: #6ABB81;
    background-color: #fff;
    border-color: #6ABB81;
}

.media img {
    vertical-align: middle;
    border-style: none;
    width: 75px;
    height: 75px;
    object-fit: cover;
}
.blog_area .blog_inner .blog_items {
    padding-bottom: 50px;
}

.blog_area {
    padding-top: 50px;
}

.footer_area .footer_row h1, h2, h3, h4, h5, h6 {

    color: #757575;
}