
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


.btn{
    width: 100%;
}


// Margins
.mb-30{
    margin-bottom: 30px;
       }

.mt-30{
     margin-top: 30px;
        }
