
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";



// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

//Theme files
@import "theme/variables";
@import "theme/about";
@import "theme/banner";
@import "theme/billing-details";
@import "theme/blog";
@import "theme/button";
@import "theme/chooseus";
@import "theme/coaches";
@import "theme/contact";
@import "theme/customers";
@import "theme/event";
@import "theme/fitness-course";
@import "theme/footer";
@import "theme/gallery";
@import "theme/header";
@import "theme/latest-news";
@import "theme/nutrition";
@import "theme/predefin";
@import "theme/product";
@import "theme/questions";
@import "theme/responsive";
@import "theme/search";
@import "theme/services";
@import "theme/slider";

@import "custom";


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
