/* Banner Area
================================ */
.banner_area{
    background:url("/photos/shares/banners/running-banner.jpg") no-repeat scroll center center;
    background-size: cover;
    display: block;
    text-align: center;
    padding: 213px 0 80px;
    position: relative;
    z-index: 1;
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: rgba(0, 0, 0, 0.60);
        z-index: -1;
    }
    h2{
        font: 600 55px/1 $pop;
        color: #fff;
        padding-bottom: 8px;
    }
    a{
        color: $bc;
        font: 500 14px/1 $pop;
        span{
            color: #fff;
            cursor: default;
        }
    }
} 
/* End Banner Area
================================ */

/* 404 Pages
================================ */
.error_area{
    background:url("/images/error-bg.jpg") no-repeat scroll center center;
    background-size: cover;
    display: block; 
    overflow: hidden;
    padding: 145px 0 300px;
    position: relative;
    z-index: 1;
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: rgba(0, 0, 0, 0.60);
        z-index: -1;
    }
    .error_content{
        max-width: 875px;
        margin: auto;
        h1{
            font: 900 200px/1 $lato;
            color: $bc;
        }
        h2{
            font: 600 50px/53px $pop;
            color: #fff;
            letter-spacing: .50px;
        }
        h4{
            font: 600 25px/53px $pop;
            color: #fff;
            letter-spacing: .50px;
            padding: 10px 0 35px;
        }
        .get_btn{
            width: 295px;
            line-height: 65px;
        }
    }
}
/* End 404 Pages
================================ */

/* Comming Soon Pages
================================ */
.commin_soon_aera{
    background:url("/images/comming-soon.jpg") no-repeat scroll center center;
    background-size: cover; 
    background-position: center;
    overflow: hidden; 
    position: relative;
    z-index: 1;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: rgba(0, 0, 0, 0.60);
        z-index: -1;
    }
    .commin_soon_row{
        max-width: 820px;
        margin: 0 auto;
        h2{
            font: 700 60px/1 $pop;
            color: #fff;
            text-align: center;
            padding-bottom: 95px;
        } 
        .countdown{
            text-align: center;
           
            .countdown-container{ 
                height: 170px;
                width: 170px;
                border: 4px solid rgba(255, 255, 255, 0.6); 
                border-radius: 50%;
                background-color: rgba(95, 95, 95, 0.031); 
                position: relative;
                margin-right: 30px;
                .countdown-heading{
                    color: #fff;
                    text-transform: uppercase;
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    left: 0px;
                    font: 700 18px $pop;
                    top: 70%;
                    transform: translateY(-50%);
                }
                .countdown-value{
                    padding: 0px;
                    background: transparent;
                    box-shadow: none;
                    text-shadow: none;
                    color: #fff;
                    font: 700 55px/1 $pop;
                    text-transform: uppercase;
                    line-height: 130px;
                }
            }
        }
        p{
            font: 600 22px/34px $pop;
            color: #FFF;
            text-align: center;
            padding-top: 60px;
        }
        .form-group{
            margin: 0;
            padding-top: 25px;
            text-align: center;
            .form-control {
                border-radius: 5px;
                background-color: rgb(255, 255, 255);
                width: 493px;
                line-height: 50px;
                padding: 0 25px;
                box-shadow: none;
                display: inline-block;
            }
            .get_btn{
                line-height: 50px; 
                display: inline-block;
                margin-left: 15px;
            }
        }
    }
}
/* End Comming Soon Pages
================================ */
 
.Ellipse_1 {
  border-style: solid;
  position: absolute;
  left: 573px;
  top: 359px;
  width: 166px;
  height: 166px;
  z-index: 22;
}
