.billing_details_area{
    display: block;
    overflow: hidden;
    padding: 100px 0;
    h3{
        background: #f9f9f9;
        border: 1px solid #ebebeb;
        font: 600 17px/26px $pop;
        color: $pfont;
        display: block;
        padding: 18px 30px;
        width: 100%;
        a{
            color: $bc;
            text-decoration: underline;
        }
    }
    .billing_details_row{
        .dilling_details{
            padding-right: 115px;
            .left_tittle{
                padding-top:40px;
                padding-bottom: 10px;
            }
            .details_form{
                .form-group{
                    padding-top: 22px;
                    margin: 0;
                    .input_heding{
                        font: 500 15px/1 $pop;
                        color: $pfont;
                        padding-bottom: 2px;
                        display: block;
                        overflow: hidden;
                    }
                    .form-control{
                        border-radius: 0;
                        box-shadow: none;
                        border: 1px solid #e2e2e2;
                        font: 400 15px/36px $lato;
                        padding: 0 20px;
                        height: auto;
                        color: #c6c6c6;
                        @include placeholder{
                            color: #c6c6c6;
                        }
                    }
                    .mt{
                        margin-top: 12px;
                    }
                    .product_select{
                        width: 100%;
                        border: 1px solid #e2e2e2;
                        font: 400 15px/36px $lato;
                        border-radius: 0;
                        color: #c6c6c6;
                        .list{
                            margin: 0;
                            border-radius: 0;
                            width: 100%;
                        }
                        &:after{
                            border-width: 1px;
                            height: 7px;
                            width: 7px;
                            right: 22px;
                            margin-top: -5px;
                        }
                    }
                    .custom-checkbox{ 
                        padding: 0;
                        margin: 0;
                        .custom-control-indicator{
                            height: 15px;
                            width: 15px;
                            border-radius: 0;
                            border: 1px solid #8e8f8f;
                            position: relative; 
                            &:after{
                                content: "";
                                position: absolute;
                                top: 1px;
                                left: 1px;
                                bottom: 1px;
                                right: 1px; 
                                display: block;
                                border: 1px solid #b2b7bc;
                            }
                        }
                        .custom-control-description{
                            font: 500 15px/1 $pop;
                            color: $pfont;
                            padding-left: 17px;
                            margin: 3px 0;
                        }
                    }
                }
            }
            .notes{
                font: 500 15px/1 $pop;
                color: $pfont;
                padding-top: 24px;
                .notes_box{
                    border: 1px solid #e2e2e2;
                    padding: 20px;
                    margin-top: 17px;
                    min-height: 102px;
                    p{
                        font: 400 17px/26px $lato;
                        color: #c6c6c6; 
                    }
                }
            }
        }
        .your_order{
            .left_tittle{
                padding-top: 40px; 
            }
            .order_box{
                padding: 15px 30px 58px;
                margin-top: 38px;
                border: 1px solid #d9d9d9;
                .prodcut_list{
                    li{
                        display: block;
                        font: 500 15px/42px $pop;
                        color: $pfont;
                        span{
                            text-align: right; 
                            float: right;
                            &.bold{
                                font-weight: 700;
                                color: $heding;
                                font-size: 17px;
                            }
                        }
                        &:last-child{
                            border-top: 1px solid #e2e2e2;
                            border-bottom: 1px solid #e2e2e2;
                            margin-top: 8px;
                        }
                    }
                }
                .checkbox_area{ 
                    padding-top: 20px;
                    position: relative; 
                    @include transition;
                    .custom-radio{ 
                        padding: 0;
                        margin: 0;
                        margin-bottom: 10px;
                        width: 100%;
                        .custom-control-indicator{
                            height: 13px;
                            width: 13px; 
                            border: 1px solid #8e8f8f;
                            position: relative; 
                            &:after{
                                content: "";
                                position: absolute;
                                top: 1px;
                                left: 1px;
                                bottom: 1px;
                                right: 1px; 
                                display: block;
                                border: 1px solid #b2b7bc;
                                border-radius: 50%;
                            }
                        }
                        .custom-control-description{
                            font: 500 15px/1 $pop;
                            color: $pfont;
                            padding-left: 17px;
                            margin: 3px 0;
                        } 
                    }
                    .paypal{
                        .custom-control-description{
                            width: 100%;
                            margin: 0;
                            margin-top: -9px;
                            img{
                                margin-left: 20px;
                            }
                            a{
                                font: 500 14px/1 $pop;
                                color: $bc;
                                float: right;
                                padding-top: 13px;
                                &:hover, &:focus{
                                    color: $pfont;
                                }
                            }
                        }
                    }
                    .redio_notes{
                        background: #ececec;
                        padding: 23px 30px 30px;
                        position: relative; 
                        border-radius: 3px; 
                        display: none;
                        @include transition;
                        margin-top: 10px;
                        &:before{
                            content: "";
                            position: absolute;
                            left: 27px;
                            top: -13px;
                            border-style: solid;
                            border-width: 0 10px 13px 10px;
                            border-color: transparent transparent #ececec transparent;
                            width: 20px;
                            height: 13px;
                        }
                        p{
                            font: 400 15px/24px $lato;
                            color: #8e8d8d;
                            padding-top: 0;
                        }
                    }
                    &:hover, &:focus {
                        .redio_notes{ 
                            display: block;
                        }
                    }
                }
                
                .find_btn{
                    background: $bc;
                    border: 0;
                    color: #fff;
                    line-height: 40px;
                    font-size: 16px;
                    width: 150px;
                    margin-top: 25px;
                    &:hover, &:focus{
                        background: $heding;
                        color: #fff;
                    }
                }
            }
        }
    }
}
 