/* Main Button css
============================================================================================ */
.get_btn{
    font: 600 18px/52px $pop;
    color: #fff;
    width: 225px;
    display: block;
    background: $bc;
    text-align: center;
    padding: 0;
    border-radius: 30px;
    &:hover, &:focus{
        color: $bc;
        background: #fff;
    }
}
.find_btn{
    font: 600 18px/48px $pop;
    color: $heding;
    text-align: center;

    border-radius: 30px;
    border: 2px solid rgb(88, 88, 88);
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    display: inline-block;
    &:hover, &:focus{
        color: #fff;
        background: $bc;
        border-color: $bc;
    }
}

.call_btn{
    font: 600 16px/24px $pop;
    color: #fff;
    border: 2px solid #fff;
    display: inline-block;
    padding: 10px 37px;
    border-radius: 40px;
    &:hover{
        background: #fff;
        color: #9ac339;
    }
}
/* Main Button css
============================================================================================ */

