/* Contact Area css
================================= */
.contact_area{
    display: block;
    overflow: hidden; 
    .left_contact{
        width: calc(50% + 115px);
        float: left;
    }
    .right_contact{
        width: calc(50% - 115px);
        float: right;
    }
    .contact_from_area{
        max-width: 600px;
        margin-right: 100px;
        margin-left: auto;
        padding-top: 65px;
        padding-bottom: 10px;
        .from_main{
            .form-group{ 
                margin-bottom: 43px;
                .form-control{
                    border: 0;
                    border-bottom: 1px solid #f3f2f6;
                    font: 600 16px/25px $pop;
                    color: rgba(0, 0, 0, 0.70);
                    padding: 0;
                    box-shadow: none;
                    resize: none;
                    padding-bottom: 18px; 
                    border-radius: 0;  
                    height: auto;
                }
                &.has-error .form-control{
                    border-color: red;
                }
                textarea.form-control{
                    height: 145px;
                    margin-bottom: 5px;
                }
            }
        }
    }
    .request_area{  
        max-width: 845px;
        .request{
            position: relative;  
            .request_content{
                position: absolute;
                bottom: 85px;
                left: 0;
                background: $bc;
                padding: 15px 45px 22px; 
                h2{
                    font: 700 35px/42px $mon; 
                    color: #fff;
                    span{
                        color: $heding;
                        display: block;
                        overflow: hidden;
                    }
                }
                p{
                    font: 600 20px/28px $pop;
                    color: #fff; 
                    letter-spacing: 0.5px;
                    max-width: 524px;
                    padding-top: 7px;
                }
            }
        }
    }
}
/* End Contact Area css
================================= */ 

/* Contact Pages css
================================= */ 
.contact_us_area{
    display: block;
    overflow: hidden;
    padding-bottom: 100px;
    .contact_us_row{
        padding-bottom: 100px;
        .getin_touch{ 
            .from_main{ 
                padding-top: 35px;
                .form-group{ 
                    margin-bottom: 30px;
                    .form-control{
                        border: 0;  
                        border: 1px solid rgb(216, 216, 216);
                        font: 600 16px/48px $pop;
                        color: rgba(0, 0, 0, 0.70);
                        padding:0 20px;
                        box-shadow: none;
                        resize: none; 
                        border-radius: 0;  
                        height: auto;
                    }
                    &.has-error .form-control{
                        border-color: red;
                    }
                    textarea.form-control{
                        height: 250px;
                        margin-bottom: 5px;
                        line-height: 28px;
                        padding-top: 15px;
                    }
                    .find_btn{ 
                        color: #fff;
                        background: $bc;
                        border: 0;
                        line-height: 52px;
                        width: 215px;
                        &:hover, &:focus{
                            background: $pfont;
                        }
                    }
                }
            }
        }
        .map_area{
            padding-top: 174px;
            .mapBox{
                min-height: 495px;
                width: 100%;
            }
        }
    }
    .meet_area{  
        box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.11);
        padding: 40px 0 43px;
        .meet{
            text-align: center;
            i::before{
                font-size: 40px;
                color: $bc;
            }
            h3{
                font: 600 24px/1 $pop;
                color: $heding;
                padding-top: 15px;
            }
            h6{
                font: 400 17px/26px $lato;
                color: $pfont;
                padding-top: 12px;
            }
        }
    }
}
/* End Contact Pages css
================================= */ 

/* Submit your question Are (Faq Pages)
======================================= */  
.submit_question{ 
    background: url("/images/faq-bg.jpg") no-repeat bottom right; 
    display: block;
    overflow: hidden; 
    padding-bottom: 55px;
    .submit_question_row{ 
        padding-top: 60px;
        .from_main{  
            .form-group{ 
                margin-bottom: 43px;
                .form-control{
                    border: 0;
                    background-color: transparent;
                    border-bottom: 2px solid rgb(227, 227, 227);
                    font: 600 16px/25px $pop;
                    color: $heding;
                    padding: 0;
                    box-shadow: none;
                    resize: none;
                    padding-bottom: 18px; 
                    border-radius: 0;  
                    height: auto;
                    @include placeholder{
                        color: #4a4a51;
                    }
                }
                &.has-error .form-control{
                    border-color: red;
                }
                textarea.form-control{
                    height: 145px;
                    margin-bottom: 5px;
                }
                .find_btn{
                    background: $bc;
                    border-color: $bc;
                    color: #fff;
                    &:hover, &:focus{
                        color: #4a4a51;
                        background-color: transparent;
                        border-color: rgb(227, 227, 227);
                    }
                }
            }
        }
    }
}
/* End Submit your question Are
======================================= */ 

/* contact_area_2 Are
======================================= */
.contact_area_2{
    background: #465c1a;
    .request_area .request .request_content{
        padding-left: 48px;
        left: -20px;
    } 
    .contact_from_area .from_main{
        .form-group{
            .form-control{
                background-color: transparent;
                border-color: #fff;
                color: #fff;
                @include placeholder{
                    color: #fff;
                }
            }
            .find_btn{
                color: #fff;
                border-color: #fff;
            }
        } 
    } 
}
/* End contact_area_2 Are
======================================= */ 
 