/* Events css
================================= */
.events_area{
    padding: 100px 0 70px;
    .events_row{
        .event{
            margin-bottom: 30px;
            .event_img{
                position: relative;
                overflow: hidden;
                display: block;
                &:after{
                    position: absolute;
                    content: '';
                    opacity: 0;
                    background-color: rgba(0, 0, 0, .3);
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    transition: all .3s ease-out;
                }
                img{
                    transition: all .3s ease-out;
                    max-width: 100%;
                    max-height: 300px;
                }
            }
            .media{
                padding: 40px 40px 30px;
                margin: 0;
                border: 1px solid rgb(222, 222, 222);
                h3{
                    font: 700 40px/1 $lato;
                    color: #fff;
                    background: $bc;
                    text-align: center;
                    padding: 14px 17px;
                    margin-right: 30px;
                    span{
                        display: block;
                        font-size: 16px;
                    }
                }
                .media-body{
                    a{
                        font: 600 20px/28px $pop;
                        color: $heding;
                        display: block;
                        padding: 10px 0 27px;
                        &:hover, &:focus{
                            color: $bc;
                        }
                    }
                    span, h6{
                        font: 400 17px/35px $lato;
                        color: #898989;
                        i{
                            font-size: 18px;
                            color: #757575;
                            padding-right: 12px;
                        }
                    }
                }
            }
            &:hover{
                .event_img{
                    &:after{
                        opacity: 1;
                    }
                    img{
                        transform: scale(1.05) translateZ(0);
                    }
                }
            }
        }
    }
}
/* End Events css
================================= */

/* Events Details css
================================= */
.event_details_area{
    display: block;
    overflow: hidden;
    padding: 100px 0;
    .event_details_row{
        .details_left_sidebar{
            background: #f7f7f7;
            img{
                max-width: 100%;
            }
            .event_details{
                padding: 0;
                h2{
                    font: 600 28px/38px $pop;
                    color: $heding;
                    padding-bottom: 13px;
                }
                h3{
                    font: 600 20px/38px $pop;
                    color: $heding;
                    padding-bottom: 4px;
                }
                p{
                    font: 600 18px/28px $lato;
                    color: $pfont;
                    letter-spacing: 0.20px;
                    padding-bottom: 30px;
                }
                .about_event_list{
                    padding-top: 7px;
                    padding-bottom: 25px;
                    li{
                        font: 400 17px/38px $lato;
                        color: $pfont;
                        letter-spacing: 0.20px;
                    }
                }
                .google_map{
                    padding-top: 15px;
                    iframe{
                        width: 100%;
                        height: 335px;
                    }
                }
            }
        }
        .details_right_sidebar{
            background: $bc;
            padding: 45px 40px;
            padding-right: 30px;
            h4{
                font: 600 20px/1 $pop;
                color: $heding;
                padding-bottom: 13px;
                padding-top: 15px;
            }
            h6, address, .hourly_schedule li{
                font: 500 15px/26px $pop;
                color: #fff;
            }
            .hourly_schedule{
                li{
                    position: relative;
                    padding-left: 17px;
                    &:before{
                        content: "\f111";
                        font: normal normal normal 10px/26px FontAwesome;
                        position: absolute;
                        left: 0;
                        top: 0;
                        color: #fff;
                    }
                }
            }
        }
    }
}
/* End Events Details css
================================= */
