/* Header Area
============================== */
.main_header_area{
    width: 100%;
    z-index: 999;
    position: absolute;
    background: rgba(0, 0, 0, 0.302);
    border-bottom: 1px solid rgba(255, 255, 255, 0.078);
    .header_top{
        display: block;
        overflow: hidden;
        .header_top_inner{
            padding: 10px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.149);
            a{
                color: #9ac339;
                padding-right: 30px;
                font: 400 15px/1 $pop;
                i{
                    color: #9ac339;
                    font-size: 15px;
                    padding-right: 10px;
                }
                &:hover, &:focus{
                    color: #fff;
                    i{
                        color: #fff;
                    }
                }
            }
        }
        .header_social{
            li{
                display: inline-block;
                a{ 
                    padding: 0;
                    color: #9ac339;
                    font-size: 16px;
                    padding-left: 18px;
                    i{
                        padding: 0;
                    }
                }
            }
        }
    }
    .header_menu{
        border:none;
    }
    .navbar_fixed {
        position: fixed;
        width: 100%;
        top: -70px;
        left: 0;
        right: 0;
        background: #101010;  
        border-bottom: 1px solid rgba(255, 255, 255, 0.078);
        transform: translateY(70px);
        transition: transform 500ms ease, background 500ms ease;
        -webkit-transition: transform 500ms ease, background 500ms ease;
        -webkit-backface-visibility:hidden;
        .navbar{
            .navbar-brand{
                img{
                    display: none;
                    & + img{
                        display: inline-block;
                    }
                }
            }
            #navbar_supported ul li{
                a{
                    line-height: 60px;
                    &:before{
                        bottom: 15px;
                    }
                }
                &.dropdown .dropdown-menu a{
                    line-height: 45px;
                }
            } 
        }
    }
}
.navbar.navbar-expand-lg{
    padding: 0;
    .navbar-brand{
        margin: 0;
        padding: 0;
        margin-top: -4px;
        img{
            transition: all 0.3s linear;
            & + img{
                display: none;
            }
        }
    }
    .navbar-nav{
        li{
            a{
                padding: 0;
                color: #fff;
                margin-right:30px;
                font: 500 17px/85px $pop;
                position: relative;
                &:hover, &:focus,&.active{
                    color: $bc;
                    &:before{
                        width: 40px;
                    }
                }
                &:before{
                    content: "";
                    position: absolute;
                    bottom: 25px;
                    left: 0;
                    background: rgb(154, 195, 57);
                    height: 1px;
                    width: 0px; 
                }
                &:after{
                    display: none;
                }
                &.end_menu{
                    margin-right: 0;
                }
            }
            &:last-child{
                a{
                    margin-right: 0px;
                }
            }
            &.dropdown{
                position: relative;
                .dropdown-menu{
                    margin: 0; 
                    padding: 15px 0;
                    border-radius: 0; 
                    @media (min-width: 991px){
                        position: absolute;
                        top: 100%;
                        left: -40px; 
                        min-width: 230px; 
                        background-color: rgb(16, 16, 16); 
                        opacity: 0;
                        transition: all 300ms ease-in;
                        visibility: hidden;
                        display: block;
                        border: none; 
                        &.services_d{ 
                            min-width: 250px;
                        }
                    }
                    a{ 
                        padding: 0;
                        background-color: transparent;
                        font: 400 16px/45px $pop;
                        color: #cdcccc;
                        padding: 0 35px;
                        margin-right: 0px;
                        &:before{
                            display: none;
                        }

                        &:hover, &:focus{
                            color: $bc; 
                        }
                    }
                    /* Sub dropdown */ 
                    >.dropdown{
                        .dropdown-menu{ 
                            display: block;
                            @media (min-width: 991px){
                                transform: translateZ(0);
                                transform: scaleX(0);
                                transform-origin: 0 50%;
                                position: absolute;
                                left: 100%;
                                right: auto;
                                width: auto;
                                top: -2px;  
                            }
                        }

                        &:hover, &:focus{
                            @media (min-width: 991px){
                                .dropdown-menu{
                                    transform: scale(1, 1);
                                }
                            }
                        }
                    }
                } 
                &:hover, &:focus{
                    .dropdown-menu{
                        @media (min-width: 991px){
                            left: 0px;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .search_dropdown{
            padding-left: 20px;
            a{
                padding-left: 20px;
                padding-right: 0;
                position: relative;
                &:before{
                    display: none;
                }
                &:after{
                    content: "";
                    width: 1px;
                    height: 18px;
                    position: absolute;
                    left: 0;
                    background: rgba(255, 255, 255, 0.341);
                    top: 3px;
                    display: block;
                }
            }
        }
    }
}
/* End Header Area
============================== */

/* Index-2 Header Area
============================== */
.main_header_2{
    border: 0;  
    top: 0;
    .header_top{
        background: #262626;
        .header_top_inner{
            border: 0;
            a, a i{
                color: #fff;
                &:hover, &:focus{
                    color: $bc;
                    i{
                        color: $bc;
                    }
                }
            }
        }
    }
    .header_menu{
        background: #677c35; 
    }
}

/* Index-3 Header Area
============================== */
.main_header_3{
    border: 0;
    background-color: transparent;
    .header_top{ 
        .header_top_inner{
            border: 0;
            padding: 16px 0;
            .header_social li a i{
                color: #fff;
                &:hover, &:focus{  
                    color: $bc; 
                }
            }
        }
    }
    .header_menu{
        .navbar.navbar-expand-lg{ 
            background: #FFF; 
            border-radius: 5px;
            padding: 0 28px;
            #navbar_supported ul {
                li{
                    a{
                        color: $heding;
                        line-height: 95px;
                        &:hover, &:focus,&.active{
                            color: $bc;
                        }
                    }
                    &.dropdown .dropdown-menu a{
                        color: rgba(255, 255, 255, 0.80);
                        line-height: 45px;
                        &:hover, &:focus{
                            color: $bc;
                        }
                    }
                }
                .search_dropdown a{
                    border-left: 1px solid #b4b4b4;
                }
            }
        }
        &.navbar_fixed{
            background: #fff;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
            -webkit-backface-visibility:hidden;
            .navbar.navbar-expand-lg{
                border-radius: 0px;
                #navbar_supported ul {
                    li{
                        a{
                            line-height: 70px;
                        }
                    }
                }
            }
        }
    }
}

.toggler-two{
    span{
        background: #242424 !important;
    }
}

/*main_menu_area_four css
=============================================*/
.main_menu_area_four{
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    left: 0;
    background: #fff;
    & + section{
        margin-top: 165px;
    }
}
.header_logo_area_two{
    overflow: hidden;
    padding: 30px 0px;
    border-bottom: 1px solid #c3c3c3;
    .contact_info{
        .c_info{
            display: inline-block;
            margin-left: 35px;
            i{
                font-size: 25px;
                line-height: 30px;
                color: #9ac339;
            }
            .media-body{
                font: 600 15px/22px $pop;
                padding-left: 15px;
                .line_1{
                    color: #333333;
                    a{
                        color: #333333;
                    }
                }
                .line_2{
                    color: #767676;
                    font-size: 14px;
                    a{
                        color: #767676;
                    }
                }
            }
            .get_app{
                font: 600 16px/24px $pop;
                background: #9ac339;
                padding: 10px 30px;
                display: inline-block;
                color: #fff;
                border-radius: 40px;
                &:hover{
                    background: #7cac08;
                }
            }
        }
    }
}

.menu_inner_area_four{
    background: #fff;
    .navbar{
        padding: 0px;
        .navbar-brand{
            @media (min-width:992px){
                display: none;
            }
        }
        .menu{
            li{
                a{
                    color: #242424;
                    margin-right: 50px;
                    line-height: 60px;
                    &:before{
                        display: none;
                    }
                }
                &.search{
                    position: relative;
                    a{
                        &:after{
                            content: "";
                            height: 19px;
                            width: 1px;
                            background: #b4b4b4;
                            position: absolute;
                            left: -25px;
                            top: 50%;
                            -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                            display: inline-block;
                        }
                        &:hover{
                            color: #9ac339;
                        }
                    }
                }
            }
        }
    }
    .social-icon{
        li{
            a{
                color: #6e6e6e;
                font-size: 18px;
                line-height: 60px;
                padding-left: 20px;
                &:hover{
                    color: #9ac339;
                }
            }
        }
    }
    &.navbar_fixed{
        position: fixed;
        width: 100%;
        top: -70px;
        left: 0;
        right: 0;
        background: #fff;  
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        transform: translateY(70px);
        transition: transform 500ms ease, background 900ms ease;
        -webkit-transition: transform 500ms ease, background 900ms ease;
    }
}

/* Start main_menu_area_five css
=========================================*/
.main_menu_area_five{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 40;
    & + section, & + row, & + div{
        margin-top: 165px;
    }
    .header_logo_area_two{
        background: url("/images/home-5/header-bg.jpg") no-repeat scroll center 0;
        background-size: cover;
        .contact_info{
            .c_info{
                .media-body{
                    .line_1,.line_2,a{
                        color: #fff;
                    }
                } 
            } 
        } 
    }
}