/* Latest News css
============================================================================================ */
.latest_news_area{
    display: block;
    overflow: hidden;
    background: #f3f3f3;
    padding-bottom: 70px;
    .latest_news_row{
        padding-top: 25px;
        .latest_news{
            margin-bottom: 28px;
            .news_img{
                position: relative;
                overflow: hidden;
                z-index: 1;
                &:before{
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    background: #000;
                    z-index: -1;
                    opacity: 0;
                    transition: all 0.3s linear;
                }
                a{
                    display: block;
                }
                span{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    font: 600 17px/40px $pop;
                    color: #fff;
                    background: $bc;
                    padding: 0 15px;
                }
                img{
                    max-width: 100%;
                    transition: all 0.3s linear;
                    z-index: -5;
                    position: relative;
                }
            }
            .news_heding{
                font: 600 20px/28px $pop;
                color: $heding;
                display: block;
                margin: 32px 0 10px;
                &:hover, &:focus{
                    color: $bc;
                }
            }
            p{
                font: 400 17px/28px $lato; 
                padding-bottom: 17px;
            }
            .read_mor{ 
                font: 600 16px/28px $pop;
                color: $bc;
                position: relative; 
                &:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-bottom: 1px solid #c9dca7;
                }
                &:hover, &:focus{
                    color: $heding;
                    &:after{
                        border-color: $pfont;
                    }
                }
            }
            &:hover{
                .news_img{
                    &:before{
                        opacity: 0.6;
                    }
                }
                img{
                    transform: scale(1.1);
                }
            }
        }
        .line_news{
            background-color: rgba(253, 253, 253, 0.8);
            box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
            padding: 25px 30px;
            a{ 
                font: 600 20px/28px $pop;
                color: $heding;
                display: block;
                padding: 14px 0;
                &:hover, &:focus{
                    color: $bc;
                }
            }
            h4{
                font: 700 13px/1 $pop;
                color: $bc;
                border-bottom: 1px solid rgb(232, 232, 232);
                padding-bottom: 24px;
                &:last-child{
                    border: 0;
                }
            }
        }
    }
} 
.line_news{
    background-color: rgba(253, 253, 253, 0.8);
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
    padding: 25px 30px;
    a{ 
        font: 600 20px/28px $pop;
        color: $heding;
        display: block;
        padding: 14px 0;
        &:hover, &:focus{
            color: $bc;
        }
    }
    h4{
        font: 700 13px/1 $pop;
        color: $bc;
        border-bottom: 1px solid rgb(232, 232, 232);
        padding-bottom: 24px;
        &:last-child{
            border: 0;
        }
    }
}
/* End Latest News css
============================================================================================ */


.latest_news_area_two{
    padding-top: 100px;
    .left_tittle{
        margin-bottom: 28px;
        padding-top: 0px;
    }
    .latest_news_row{
        padding-top: 0px;
    }
    .line_news{
        background: #2b2b2b;
        a{
            color: #fff;
            transition: all 0.3s linear;
            &:hover{
                color: $bc;
            }
        }
        h4{
            border-color: #515151;
        }
    }
}