/* Nutrition Plan Css
================================= */
.row.nutrition_plan_inner{
    display: block;
}
.nutrition_inner{
    padding-left: 30px;
    .program_details{
        padding: 0px 15px !important;
    }
    .benefit_nutritions_img img{
        margin-left: 0px !important;
    }
    .nutrition_strategies{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
.nutrition_plan_area{
    padding: 100px 0 80px;
    display: block;
    overflow: hidden;
    .nutrition_plan_inner{
        .nutrition_left_sidebar{
            padding-bottom: 50px;
            img{
                max-width: 100%;
            }
            .plan_menu{
                margin-bottom: 50px;
                li{
                    a{
                        font: 600 17px/55px $pop;
                        color: $heding;
                        background: #f1f1f1;
                        border-left: 4px solid #d2d2d2;
                        display: block;
                        margin-bottom: 3px;
                        padding:0 20px;
                        &:hover, &:focus, &.active{
                            background: $bc;
                            color: #fff;
                            border-color: #414f1f;
                        }
                    }
                }
            }
            a.contact_info{
                display: block;
                font: 600 18px/36px $pop;
                color: $heding; 
                i{
                    color: #7f7f7f;
                    padding-right: 10px;
                }
                &.p_t{
                    font-weight: 700;
                    padding-top: 15px;
                }
                &:hover, &:focus{
                    color: $bc;
                    i{
                        color: $bc;
                    }
                }
            }
        }
        
        .nutrition_right_sidebar{
            .row.m0{
                padding-left: 30px;
            }
            .nutrition_img{
                margin-bottom: 30px;
            }
            .program_details{
                padding: 0px;
                h2{
                    font: 600 28px/1 $pop;
                    color: $heding;
                    padding: 27px 0 18px;
                }
                p{
                    font: 400 17px/28px $lato;
                    color: $pfont;
                    letter-spacing: 0.20px;
                    padding-bottom: 25px;
                }
            }
            .benefit_nutritions_img{ 
                margin-top: 25px;
            }
            .benefit_nutritions_content{
                padding-top: 20px;
                padding-left: 0px;
                padding-right: 56px;
                h3{
                    font: 600 24px/1 $pop;
                    color: $heding;
                    padding: 0px 0 18px;
                }
                p{
                    font: 400 17px/28px $lato;
                    color: $pfont;
                    letter-spacing: 0.20px;
                    padding-bottom: 12px;
                }
                .benefit_list{
                    li{
                        font: 400 17px/36px $lato;
                        color: $pfont;
                        letter-spacing: 0.20px;
                        padding-left: 35px;
                        position: relative;
                        &:before{
                            content: "\f105";
                            position: absolute;
                            font: normal normal normal 12px/14px FontAwesome;
                            color: #a6cde7;
                            border: 1px solid #77797c;
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            top: 10px;
                            left: 0;
                            display: inline-block;
                            text-align: center;
                        }
                    }
                }
            }
            .benefit_nutritions_img{
                img{
                    margin-left: -36px;
                }
            }
            .nutrition_strategies{
                padding: 55px 0 30px;
                .media_row{
                    border: 1px solid #e9e9e9; 
                }
                .media{
                    margin: 0; 
                    padding: 30px;
                    box-shadow: -1px -1px 0px 0px #e9e9e9;
                    &.b_g{
                        background: #fafafa;
                    }
                    i:before{
                        font-size: 50px;
                        color: $bc;
                        line-height: 50px;
                    }
                    .media-left{
                        padding-left: 20px;
                        h4{
                            font: 600 18px/1 $pop;
                            color: $heding;
                            padding-bottom: 10px;
                        }
                        p{
                            font: 400 16px/24px $lato;
                            color: $pfont;
                            letter-spacing: 0.50px;
                        }
                    }
                }
            }
            .choose_qustion{ 
                .choose_area{
                    padding-top: 25px;
                    h3{
                        font: 600 24px/1 $pop;
                        color: $heding;
                        padding-bottom: 30px;
                    }
                    .questions_ans{
                        width: 440px;
                        .item{
                            border: 1px solid #d4d4d4;
                            margin-bottom: 20px;
                            padding: 10px 20px;
                            a{
                                font: 400 17px/28px $lato;
                                color: $heding; 
                                display: block;
                                padding-left: 30px;
                                position: relative;   
                                &:after{
                                    content: "-";
                                    position: absolute;
                                    left: 0px;
                                    top: 4px;
                                    font: 700 22px/1 $lato;
                                    color: $heding;
                                }
                                &.collapsed{  
                                    &:after{
                                        opacity: 0;
                                    }
                                    &:before{
                                        content: "+";
                                        position: absolute;
                                        left: 0px;
                                        top: 4px;
                                        font: 700 22px/1 $lato;
                                        color: $heding;
                                    }
                                }
                            }
                            
                            p{
                                font: 400 16px/24px $lato;
                                color: $pfont; 
                                padding: 10px 35px;
                                padding-right: 0;
                                letter-spacing: 0.20px;
                            } 
                        }
                    }
                }
            }
            .request{ 
                padding-top: 25px;
                h3{
                    font: 600 24px/1 $pop;
                    color: $heding;
                    padding-bottom: 30px;
                }
                .consultation_from{
                    padding: 30px 25px;
                    background: $bc;
                    .form-group{
                        margin-bottom: 12px; 
                        .form-control{
                            box-shadow: none;
                            background: #90b635;
                            border-radius: 0;
                            color: #fff;
                            font: 400 16px/40px $lato;
                            padding: 0 20px;
                            height: auto;
                            border: 1px solid rgb(141, 179, 51);
                            resize: none;
                            @include placeholder{
                                color: #fff;
                            } 
                        }
                        textarea{
                            height: 130px !important;
                            line-height: 26px !important;
                            padding: 8px 20px !important;
                        }
                        .product_select{ 
                            background: #90b635;
                            border-radius: 0;
                            color: #fff;
                            font: 400 16px/40px $lato;
                            padding: 0 20px; 
                            width: 100%;
                            border: 1px solid rgb(141, 179, 51);
                            z-index: 99;
                            margin-bottom: 10px; 
                            &:after{
                                display: none;
                            }
                            &:before {
                                content: "\f0d7";
                                font: normal normal normal 18px/40px FontAwesome;
                                position: absolute;
                                top: 0px;
                                color: #fff; 
                                right: 20px; 
                            }
                            .list{
                                width: 100%;
                                margin: 0;
                                border-radius: 0;
                                background: #90b635;
                                li{
                                    color: #fff;
                                    &:hover, &:focus, &.selected {
                                        color: $bc; 
                                    }
                                }
                            }
                        }
                        .send_btn{
                            border: 0;
                            background: #90b635;
                            box-shadow: none;
                            color: #fff;
                            font: 600 14px/1 $pop;
                            position: absolute;
                            bottom:16px;
                            right: 16px;
                            cursor: pointer;
                            text-transform: uppercase;
                            border-left: 1px solid #fff;
                            padding-left: 15px;
                        }
                        &.message{
                            position: relative;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
.nutrition2{
    .nutrition_row{
        padding-left: 30px;
        .program_details{
            padding: 0px 15px !important;
        }
        .benefit_nutritions_content{
            padding: 0px 15px !important;
        }
        .nutrition_strategies{
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        .col.p-0{
            padding: 0px 15px !important;
        }
    }
}
.nutrition_plan_main{
    .plan_main_row{
        padding-left: 30px;
        .program_details{
            padding: 0px 15px !important;
        }
        .benefit_nutritions_img{
            img{
                margin-left: 0px !important;
            }
        }
    }
}
/* ENd Nutrition Plan Css
================================= */
 