/* Service Area
============================== */
.services_area{
    background: #f4f4f4;
    display: block;
    overflow: hidden;
    padding-bottom: 70px;
} 
.service_row{
    padding-top: 55px;
    .body_mind{
        .media{
            background-color: #fff;
            margin-bottom: 30px;
            padding: 38px 25px;
            position: relative;
            z-index: 3;
            @include transition;  
            cursor: move;
            &:hover, &:focus{
                background: url("/images/body-mind-hover.jpg") no-repeat;
                background-size: cover;
                &:before{
                    opacity: 1;
                }
                i:before{
                    color: #fff;
                }
                .media-body{
                    h4, p, a{
                        color: #fff;
                    }
                }
            }
            &:before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: block;
                background: rgba(40, 89, 3, 0.75);
                z-index: -1; 
                @include transition; 
                opacity: 0;
            }
            i{
                margin-right: 20px;
                &:before{
                    font-size: 60px;
                    color: $bc;
                }
            }
            .media-body{
                h4{
                    font: 600 18px/1 $pop;
                    color: $heding;
                }
                p{
                    font: 400 16px/24px $lato;
                    color: $pfont;
                    padding-top: 15px;
                }
                a{
                    font: 600 15px/1 $pop;
                    color: #5dd151;
                    display: block;
                    padding-top: 15px;
                    &:hover, &:focus{
                        color: $bc;
                    }
                }
            }
        }
    }
}
.services_a2{
    background: $heding;
    .left_tittle{
        h2{
            color: #fff;
        }
    }
}
/* End Service Area
============================== */

/* Why Choose Us Area
============================== */
.why_chooseus_area{
    display: block;
    overflow: hidden;
    background: #f4f4f4;
    padding: 100px 0; 
    .why_chooseus_inner{
        .chooseus_content{
            margin-bottom: 30px;
            h2{
                font: 600 32px/1 $pop;
                color: $heding;
                margin-top: -4px;
            }
            h4{
                font: 300 20px/28px $lato;
                color: $heding;
                padding: 25px 0;
                letter-spacing: 0.60px;
            }
            p{
                font: 400 17px/28px $lato;
                color: #898989;
                letter-spacing: 0.50px; 
            }
        }
        .chooseus{ 
            .media{
                background-color: #fff;
                margin-bottom: 30px;
                padding: 38px 25px;
                position: relative;
                z-index: 3;   
                i{
                    margin-right: 20px;
                    &:before{
                        font-size: 60px;
                        color: $bc;
                        line-height: 62px;
                    }
                }
                .media-body{
                    a{
                        font: 600 20px/1 $pop;
                        color: $heding;
                        &:hover, &:focus{
                            color: $bc;
                        }
                    }
                    p{
                        font: 400 16px/24px $lato;
                        color: #898989;
                        padding-top: 15px;
                    } 
                }
            }
        }
    }
}
/* End Why Choose Us Area
============================== */

.service_area_two{
    background: url("/images/home-5/service-bg.jpg") no-repeat scroll center 0;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 100px 0px 70px;
    &:before{
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #242424;
        opacity: 0.37;
        position: absolute;
        z-index: -1;
    }
    .left_tittle{
        padding-top: 0px;
        h2{
            color: #fff;
        }
        h4{
            font: 300 22px/26px $lato;
            letter-spacing: 0.65px;
            color: #fff;
            padding-top: 17px;
        }
        p{
            padding-right: 58px;
        }
        .get_btn{
            width: max-content;
            padding: 0px 41px;
            line-height: 50px;
            margin-top: 42px;
        }
    }
    .service_row{
        padding-top: 0px;
    }
}