/*font Variables*/ 
$lato: 'Lato', sans-serif;
$pop: 'Poppins', sans-serif;
$kau: 'Kaushan Script', cursive;
$mon: 'Montserrat', sans-serif;

/*Color Variables*/ 
$bc: #6ABB81;
$heding: #242424; 
$pfont: #797979; 

// Mixins
@mixin transition($property: all, $duration: 300ms, $animate: linear, $delay:0s){
    transition: $property $duration $animate $delay; 
}

// Placeholder Mixins
@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
 
// Font family link
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Lato:300,400,700,900|Montserrat:300,400,500,600,700|Poppins:300,400,500,600,700');
